@page "/duties/create"
@inject IRepository repository
@inject NavigationManager navigationManager
@inject SweetAlertService sweetAlertService


<h3>Dutie Create</h3>

<DutieForm @ref="dutieForm" Dutie="dutie" OnSubmit="Create" ReturnAction="Return" />


@code {
    private Dutie dutie = new();
    private DutieForm dutieForm;

    private async Task Create()
    {
        var responseHttp = await repository.Post("/api/duties", dutie);

        if (responseHttp.Error)
        {
            var message = await responseHttp.GetErrorMessage();
            await sweetAlertService.FireAsync("Error", message);
            return;
        }
        Return();

        var Toast = sweetAlertService.Mixin(new SweetAlertOptions
            {

            Toast = true,
            Position = SweetAlertPosition.BottomEnd,
             ShowConfirmButton = true,
            Timer = 3000

            });

        await Toast.FireAsync(icon: SweetAlertIcon.Success, message: "Registro creado con exito");

    }

    private void Return()
    {

        navigationManager.NavigateTo("/duties");

    }

}
