@page "/EquipmentAssignments"
@using Construction.Shared.Entities
@using Construction.WEB.Repositories
@using Construction.WEB.Shared
@inject IRepository Repository


<h1>Equipment Assignments Index</h1>
<div class="mb-3">
    <a class="btn btn-primary" href="/equipmentassignments/create">New Equipment Assignment</a>
</div>

<GenericList MyList="EquipmentAssignments">

    <Body>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>EquipmentAssignments</th>
                    <th></th>

                </tr>
            </thead>
            <tbody>
                @foreach (var equipmentassignment in EquipmentAssignments!)
                {
                    <tr>
                        <td>
                            @equipmentassignment.ConstructionTeamsId
                        </td>
                        <td>
                            @equipmentassignment.ProjectConstructionsId
                        </td>

                        <td>
                            <a class="btn btn-warning">Editar</a>
                            <button class="btn btn-danger">Borrar</button>
                        </td>

                    </tr>
                }
            </tbody>
        </table>

    </Body>

</GenericList>



@code {

    public List<EquipmentAssignment> EquipmentAssignments { get; set; }

    protected async override Task OnInitializedAsync()
    {

        var responseHttp = await Repository.GetAsync<List<EquipmentAssignment>>("/api/equipmentassignments");

        EquipmentAssignments = responseHttp.Response!;



    }



}
